body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
   width: 100%;
   min-height: 100vh;
   background: linear-gradient(135deg, #153677, #4e085f);
   padding: 10px;
}
.todoDiv{
    width: 100%;
    max-width: 540px;
    background: #fff;
    padding: 40px 30px 70px;
    margin: 100px auto 20px;
    border-radius: 10px;
}
.searchDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ced5e4;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
.searchDiv #addTaskInput{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
.searchDiv .addBtn{
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
#listContainer li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;

    &::before{
        content: '';
        position: absolute;
        height: 28px;
        width: 28px;
        border-radius: 50%;
        background: url(./media/unchecked.png);
        background-size: cover;
        background-position: center;
        top: 9px;
        left: 8px;
    }
}
#listContainer li.checked{
     color: #555;
     text-decoration: line-through;
}
#listContainer li.checked::before{
    background: url(./media/checked.png);
    background-size: cover;
}
#listContainer li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;

    &:hover{
        background: #d0d9eb;
    }
}